<div class="view-component-pillgroup">
    {% if header %}
        <h4>
            <a href="{{ header.href }}" title="{{ header.text }}">{{ header.title }}</a>
        </h4>
    {% endif %}

    <div class="group">
        {% for item in items %}
            <a href="{{ item.href }}" title="{{ item.title }}" class="pill">
                {{ item.text }}
            </a>
        {% endfor %}
    </div>
</div>
