{#
    View/Component/Pagination

    Options:
        `currentPage` <number>
        A page to highlight, if we want to highlight a page

        `pages` <number>
        Array of pages in basic form, [1, 2, 3, 4] so it can be used with
        VueJS. Calculations are more complex; this simplifies it.

        `totalPages` <number>
        Amount of pages total which helps us know which arrows to show

#}
<div class="view-component-pagination">
    <!-- First, Double Arrows -->
    {% if pages[0] > 2 %}
        <a class="nav-item" href="{{ currentUrlWith('page', 0) }}">
            <span>
                <svg version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="11.5px"
                    height="9px"
                    class="icon"
                    viewBox="0 0 11.5 9"
                    style="enable-background:new 0 0 11.5 9;"
                    xml:space="preserve">
                    <path d="M6,4.5l2.6-3.8h2.5L8.9,3.9C8.7,4.1,8.6,4.3,8.5,4.4C8.4,4.4,8.3,4.5,8.3,4.5v0c0.1,0,0.1,0.1,0.2,0.1 c0.1,0.1,0.1,0.1,0.2,0.2C8.7,4.9,8.8,5,8.9,5.1l2.3,3.3H8.6L6,4.5z"/>
                    <path d="M0.2,4.5l2.6-3.8h2.5L3.1,3.9C3,4.1,2.8,4.3,2.7,4.4C2.6,4.4,2.6,4.5,2.5,4.5v0c0.1,0,0.1,0.1,0.2,0.1 c0.1,0.1,0.1,0.1,0.2,0.2C2.9,4.9,3,5,3.1,5.1l2.3,3.3H2.9L0.2,4.5z"/>
                </svg>
            </span>
        </a>
    {% endif %}

    <!-- Back, Single Arrow -->
    {% if pages[0] > 1 %}
        <a class="nav-item" href="{{ currentUrlWith('page', pages[0] - 1) }}">
            <span>
                {{ icon("icon-arrow-left-single") }}
            </span>
        </a>
    {% endif %}

    <!-- Pagination -->
    {% for i in pages %}
        <a class="nav-item" href="{{ currentUrlWith('page', i) }}">
            {% if i == currentPage %}
                <span class="state-active">
                    {{ i }}
                </span>
            {% else %}
                <span>
                    {{ i }}
                </span>
            {% endif %}
        </a>
    {% endfor %}

    <!-- Next, Single Arrow -->
    {% if pages[0] < totalPages - 1 %}
        <a class="nav-item" href="{{ currentUrlWith('page', currentPage + 1) }}">
            <span>
                {{ icon("icon-arrow-right-single") }}
            </span>
        </a>
    {% endif %}

    <!-- Last, Double Arrows -->
    {% if pages[0] < totalPages - 2 %}
        <a class="nav-item" href="{{ currentUrlWith('page', totalPages - 1) }}">
            <span>
                {{ icon("icon-arrow-right-double") }}
            </span>
        </a>
    {% endif %}
</div>
